<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form user</title>
</head>
<body>
<h1>Form user</h1>

<form th:action="@{/}" th:object="${user}" method="post">
    <div>
        <label>ID:</label>
        <input type="hidden" th:field="${user.id}" required>
    </div>
    <div>
        <label>Name:</label>
        <input type="text" th:field="${user.firstName}" required>
    </div>
    <div>
        <label>Last_Name:</label>
        <input type="text" th:field="${user.lastName}" required>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" th:field="${user.email}" required>
    </div>
    <button type="submit">Save</button>
</form>

<a th:href="@{/}">Back to list</a>
</body>
</html>